<h1><%= @post.title %></h1>

<p>
  Content: <%= @post.content %>
</p>

<h2>Categories:</h2>
<% @post.categories.each do |c| %>
  <%= c.name %><br>
<% end %>

<h2>Comments:</h2>
<% @post.comments.each do |comment| %>
  <%= comment.user.username %> says: <%= comment.content %> <br>
<% end %>

<h2>Users:</h2>
<% @post.users.distinct.each do |user| %>
  <%= link_to user.username, user_path(user) %> <br>
<% end %>

<h2>Add Comment:</h2>

<%= form_for(@comment) do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id%>
  <p>
  <%= f.label :content %>
  <%= f.text_area  :content %>
  </p>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  <br><br>
  <%= f.fields_for :user_attributes, User.new do |user_builder| %>
    <%= user_builder.text_field :username %>
    <% end %>
  <br><br>
  <%= f.submit %>
<% end %>
